body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #105afc;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  .movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .movie {
    width: 20%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .movie img {
    width: 100%;
    height: 200px; /* Increase the height to make the images larger */
    object-fit: cover;
    border-radius: 10px;
  }
    .movie a {
        text-decoration: none;
        color: #333;
    }
    
    .pagination {
        text-align: center;
        padding: 1em;
    }
    
    .pagination a {
        margin: 0.5em;
        text-decoration: none;
        color: #333;
    }
    
    .pagination a.active {
        font-weight: bold;
    }
    .pagination {
        text-align: center;
        margin-top: 20px;
      }
      
      .prev-page, .next-page, .home-page {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
      }
      
      .prev-page:hover, .next-page:hover, .home-page:hover {
        background-color: #3e8e41;
      }